* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Ligthgray: hsl(212, 24%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);
  --fontPrimary: "Outfit", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1.25rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Ligthgray);
  font-family: var(--fontPrimary);
  font-size: 15px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.card {
  margin: 1.7rem;
  border-radius: 20px;
  background-color: var(--White);
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.card img {
  border-radius: 10px;
}

.card-body {
  margin-top: 1.25rem;
}

.card-body h1 {
  color: var(--Darkblue);
  font-size: 20px;
  padding: 0 0.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.card-body p {
  color: var(--Grayishblue);
  padding: 0.9rem 1rem;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container {
    align-self: center;
  }
  .card {
    max-width: 320px;
  }
}
